/* div {
  width: 100%;
  max-width: 200px;
  height: 100vw;
  background-color: rgb(0, 0, 0, 0.2);
  border: 1ikopx solid black;
  font-size: 12px;
  font-weight: 600;
  font-family: "roboto", sans-serif;
} */
/* 
.red {
  color: red;
}

.blue {
  color: blue;
}

p {
  color: black;
}

#title {
  font-weight: bold;
  color: purple;
}
#title {
  color: blue;
} */

section {
  height: 80vh;
  border: 1px solid black;
}

p {
  color: blue;
}

.red {
  color: red;
}

#title {
  color: black;
}
